## Exploratory Analysis of Olist customer_satisfaction dataset.

In [3]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('./Data/olist_customers_dataset.csv')
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,...,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,review_score,review_comment_message
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1,credit_card,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4,"Não testei o produto ainda, mas ele veio corre..."
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3,voucher,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4,"Não testei o produto ainda, mas ele veio corre..."
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,2,voucher,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4,"Não testei o produto ainda, mas ele veio corre..."
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,2017-08-15 20:05:16,2017-08-17 15:28:33,2017-08-18 14:44:43,2017-08-28 00:00:00,1,credit_card,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4,Deveriam embalar melhor o produto. A caixa vei...
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,2017-08-02 18:43:15,2017-08-04 17:35:43,2017-08-07 18:30:01,2017-08-15 00:00:00,1,credit_card,...,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,5,"Só achei ela pequena pra seis xícaras ,mais é ..."

In [4]:
# summary of data

print(df.info())
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115609 entries, 0 to 115608
Data columns (total 33 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115609 non-null  object
 1   customer_id                    115609 non-null  object
 2   order_status                   115609 non-null  object
 3   order_purchase_timestamp       115609 non-null  object
 4   order_approved_at              115595 non-null  object
 5   order_delivered_carrier_date   114414 non-null  object
 6   order_delivered_customer_date  113209 non-null  object
 7   order_estimated_delivery_date  115609 non-null  object
 8   payment_sequential             115609 non-null  int64
 9   payment_type                   115609 non-null  object
 10  payment_installments           115609 non-null  int64
 11  payment_value                  115609 non-null  float64
 12  customer_unique_id             115609 non-null  object
 13  customer_zip_code_prefix       115609 non-null  int64
 14  customer_city                  115609 non-null  object
 15  customer_state                 115609 non-null  object
 16  order_item_id                  115609 non-null  int64
 17  product_id                     115609 non-null  object
 18  seller_id                      115609 non-null  object
 19  shipping_limit_date            115609 non-null  object
 20  price                          115609 non-null  float64
 21  freight_value                  115609 non-null  float64
 22  product_category_name          115609 non-null  object
 23  product_name_lenght            115609 non-null  float64
 24  product_description_lenght     115609 non-null  float64
 25  product_photos_qty             115609 non-null  float64
 26  product_weight_g               115608 non-null  float64
 27  product_length_cm              115608 non-null  float64
 28  product_height_cm              115608 non-null  float64
 29  product_width_cm               115608 non-null  float64
 30  product_category_name_english  115609 non-null  object
 31  review_score                   115609 non-null  int64
 32  review_comment_message         48906 non-null   object
dtypes: float64(10), int64(5), object(18)
memory usage: 29.1+ MB
None

,payment_sequential,payment_installments,payment_value,customer_zip_code_prefix,order_item_id,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,review_score
count,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000,115609.000000,115608.000000,115608.000000,115608.000000,115608.000000,115609.000000
mean,1.093747,2.946233,172.387379,35061.537597,1.194535,120.619850,20.056880,48.766541,785.808198,2.205373,2113.907697,30.307903,16.638477,23.113167,4.034409
std,0.729849,2.781087,265.873969,29841.671732,0.685926,182.653476,15.836184,10.034187,652.418619,1.717771,3781.754895,16.211108,13.473570,11.755083,1.385584
min,1.000000,0.000000,0.000000,1003.000000,1.000000,0.850000,0.000000,5.000000,4.000000,1.000000,0.000000,7.000000,2.000000,6.000000,1.000000
25%,1.000000,1.000000,60.870000,11310.000000,1.000000,39.900000,13.080000,42.000000,346.000000,1.000000,300.000000,18.000000,8.000000,15.000000,4.000000
50%,1.000000,2.000000,108.050000,24241.000000,1.000000,74.900000,16.320000,52.000000,600.000000,1.000000,700.000000,25.000000,13.000000,20.000000,5.000000
75%,1.000000,4.000000,189.480000,58745.000000,1.000000,134.900000,21.210000,57.000000,983.000000,3.000000,1800.000000,38.000000,20.000000,30.000000,5.000000
max,29.000000,24.000000,13664.080000,99980.000000,21.000000,6735.000000,409.680000,76.000000,3992.000000,20.000000,40425.000000,105.000000,105.000000,118.000000,5.000000

In [6]:
#checking null values

na_data = df.isna().sum()*100/len(df)
na_df = na_data[na_data>0]
na_df.index
df

,order_id,customer_id,order_status,payment_sequential,payment_type,payment_installments,payment_value,customer_unique_id,customer_zip_code_prefix,customer_city,...,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,review_score
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,1,credit_card,1,18.12,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,...,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,3,voucher,1,2.00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,...,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2,voucher,1,18.59,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,...,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,1,credit_card,3,37.77,3a51803cc0d012c3b5dc8b7528cb05f7,3366,sao paulo,...,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,4
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,1,credit_card,1,37.77,ef0996a1a279c26e7ecbd737be23d235,2290,sao paulo,...,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115604,0b82d0616f1ad8da15cf967b984b4004,986632b40c38f4240caf8608cb01d40d,delivered,1,boleto,1,33.69,c887bc0b0717ee4a21d7d22137f12ee3,30575,belo horizonte,...,artes_e_artesanato,36.0,576.0,5.0,350.0,32.0,2.0,28.0,arts_and_craftmanship,5
115605,2ef4a11b6e24fdfbb43b92cb5f95edff,ee1cfdc92e449920e25d3ca4ab4da4f6,delivered,1,credit_card,1,84.63,8d80e477643ec569b24592ce3d9dfc4c,9951,diadema,...,artes_e_artesanato,32.0,660.0,3.0,500.0,16.0,6.0,16.0,arts_and_craftmanship,3
115606,2ef4a11b6e24fdfbb43b92cb5f95edff,ee1cfdc92e449920e25d3ca4ab4da4f6,delivered,1,credit_card,1,84.63,8d80e477643ec569b24592ce3d9dfc4c,9951,diadema,...,artes_e_artesanato,57.0,942.0,5.0,500.0,21.0,7.0,14.0,arts_and_craftmanship,3
115607,2c4ada2e75c2ad41dd93cebb5df5f023,363d3a9b2ec5c5426608688ca033292d,delivered,1,credit_card,1,209.06,d8bee9ec375c3a0f9ef8ed7456a51dcd,76940,rolim de moura,...,seguros_e_servicos,55.0,506.0,1.0,1225.0,27.0,35.0,15.0,security_and_services,4
115608,bede3503afed051733eeb4a84d1adcc5,919570a26efbd068d6a0f66d5c5072a3,delivered,1,boleto,1,115.45,141e824b8e0df709e3fcf6d982225a8e,71940,brasilia,...,seguros_e_servicos,48.0,461.0,4.0,400.0,26.0,22.0,11.0,security_and_services,1

In [13]:
#checking duplicate values
data = df.drop([
    "order_approved_at",
    "order_delivered_carrier_date",
    "order_delivered_customer_date",
    "order_estimated_delivery_date",
    "order_purchase_timestamp",
    "review_comment_message"
    ],
    axis=1
    )
data['product_weight_g'].fillna(data["product_weight_g"].median(),inplace=True)
data['product_length_cm'].fillna(data["product_length_cm"].median(),inplace=True)
data['product_height_cm'].fillna(data["product_height_cm"].median(),inplace=True)
data['product_width_cm'].fillna(data["product_width_cm"].median(),inplace=True)
            
            #filtering numeric data.
data = data.select_dtypes(include=[np.number])
            
cols_to_drop = ['customer_zip_code_prefix','order_item_id']
data.drop(
cols_to_drop
,axis=1)

data.isna().sum()

payment_sequential            0
payment_installments          0
payment_value                 0
customer_zip_code_prefix      0
order_item_id                 0
price                         0
freight_value                 0
product_name_lenght           0
product_description_lenght    0
product_photos_qty            0
product_weight_g              0
product_length_cm             0
product_height_cm             0
product_width_cm              0
review_score                  0
dtype: int64

In [10]:
df['customer_zip_code_prefix']

0          3149
1          3149
2          3149
3          3366
4          2290
          ...
115604    30575
115605     9951
115606     9951
115607    76940
115608    71940
Name: customer_zip_code_prefix, Length: 115609, dtype: int64

In [12]:
numeric_data = df.select_dtypes(include='number')
numeric_data

,payment_sequential,payment_installments,payment_value,customer_zip_code_prefix,order_item_id,price,freight_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,review_score
0,1,1,18.12,3149,1,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
1,3,1,2.00,3149,1,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
2,2,1,18.59,3149,1,29.99,8.72,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
3,1,3,37.77,3366,1,29.99,7.78,40.0,268.0,4.0,500.0,19.0,8.0,13.0,4
4,1,1,37.77,2290,1,29.99,7.78,40.0,268.0,4.0,500.0,19.0,8.0,13.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115604,1,1,33.69,30575,1,25.00,8.69,36.0,576.0,5.0,350.0,32.0,2.0,28.0,5
115605,1,1,84.63,9951,1,19.00,12.86,32.0,660.0,3.0,500.0,16.0,6.0,16.0,3
115606,1,1,84.63,9951,2,39.90,12.87,57.0,942.0,5.0,500.0,21.0,7.0,14.0,3
115607,1,1,209.06,76940,1,183.29,25.77,55.0,506.0,1.0,1225.0,27.0,35.0,15.0,4
115608,1,1,115.45,71940,1,100.00,15.45,48.0,461.0,4.0,400.0,26.0,22.0,11.0,1